* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #555;
    height: 4rem;
    padding-top: 12px;
    padding-left: 3px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    margin: .5rem .65rem;
}

.nav-selected {
    color: red;
}

.header-login, .header-logout {
    position: absolute;
    right: 10px;
    top: 16px;
}

.header-login button, .header-logout {
    margin-right: 10px;
    padding: 3px 5px;
}

.header-login a, .header-logout a {
    text-decoration: none;
}

.body {
    margin: .25rem .75rem;
}

.PAGE-HOME {
    margin: .65rem 1.1rem;
}

.PAGE-HOME div {
    margin-top: .5rem;
    margin-left: .15rem;
    font-size: 1.05rem;
}

.PAGE-LISTSEARCH {
    margin: 1.25rem 2rem;
}

.listSearchPrompt {
    transform: translate(-.85rem, -.075rem);
    margin-bottom: .95rem;
}

.listSearchList li {
    margin: 1.25rem 0;
}

.listSearchForm {
    transform: translateX(-1rem);
}

.PAGE-LOGIN form, .PAGE-ADMIN form {
    display: flex;
    flex-direction: column;
    width: 13rem;
    justify-content: center;
    align-items: center;
    margin-top: .5rem;
}

.PAGE-LOGIN input, .PAGE-ADMIN input {
    margin: .3rem;
    padding: 4px;
}

.PAGE-LOGIN button, .PAGE-ADMIN button {
    width: 6.5rem;
    margin-top: .4rem;
}

.PAGE-LOGIN, .PAGE-ADMIN {
    margin: 1rem;
}

.PAGE-ADMIN .types {
    margin-bottom: .65rem;
}

.PAGE-ADMIN .radio {
    margin: 0 .3rem;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer span {
    text-align: center;
}

.btn {
    background-color: #444;
    color: white;
    padding: .4rem .95rem;
    border: none;
    margin: 0 .25rem;
    cursor: pointer;
}

.btn:hover, .btn:focus {
    background-color: #ff3838;
}

.input {
    height: 1.5rem;
    margin: 0 .5rem;
    width: 11.5rem;
}